.App {
    width: 60rem;
    height: 100vh;
    background-color: aliceblue;
  
    margin: 0 auto;
    padding: 0;
  
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
  }