
.App {
    width: 60rem;
    height: 100vh;
    background-color: aliceblue;

  
    margin: 0 auto;
    padding: 0;
   
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;

    font-family: 'Source Sans Pro';
  }

.todo-display {
    

    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
    gap: 4rem;
  
    width: 20rem;
    height: 100vh;
    position: relative;

    padding-left: 3rem;


    &--form {
        width: 18rem;
        padding: 1rem 3rem 1rem 3rem;
        background-color: aliceblue;
    }

    &--list {
       

        width: 30rem;
        min-height: 8rem;
        height: 30rem;
        border: 1px solid black;
        background-color: aliceblue;
        display: flex;
        flex-flow: column nowrap;
        justify-content: center;
        align-items: center;

    }
  }

.todo-item {
    width: 25rem;
    min-height: fit-content;
    height: 6rem ;

    border-radius: 6.5rem;
    border: 1px solid #f0f8ff;

    background-color: #f5cff4;
 
    text-align: center;
     font-size: 2.4rem;

    display: grid;
    grid-template-columns: 2fr 1fr;
    padding-top: .3rem;

     > div.todo-item--content,
     > div.todo-item--delete-icon {
      display: flex;
      justify-content: center;
      align-items: center;
    }

  &--content {
   font-weight: 500;
  }

  &--delete-icon {
   text-align: center;
  }
}

  